Source: kodi-pvr-lifesat
Priority: extra
Maintainer: Nobody <nobody@kodi.tv>
Build-Depends: debhelper (>= 9.0.0), cmake, libtinyxml2-dev, kodi-pvr-dev,
               libkodiplatform-dev (>= 16.0.0), kodi-addon-dev
Standards-Version: 3.9.4
Section: libs

Package: kodi-pvr-lifesat
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LifeSat PVR for Kodi
 LifeSat PVR for Kodi

Package: kodi-pvr-lifesat-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for LifeSat PVR for Kodi
 debug symbols for Lifesat PVR for Kodi

